/* loadingStyle.css */
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  @apply bg-gray-300 dark:bg-gray-700 rounded-md relative overflow-hidden;

  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: shimmer 1.5s infinite;
}
