backend:
  name: github
  repo: dimas1221/compani-profile # GitHub repo kamu
  branch: main
  auth_type: oauth
  base_url: https://decap-oauth.vercel.app # proxy OAuth kamu
  auth_endpoint: auth
  client_id: Ov23lihVYXS9ZNZr3qaj

# Folder tempat upload media (gambar)
media_folder: "public/images/uploads"
public_folder: "/images/uploads"

# Hanya contributor repo yang bisa edit
open_authoring: false

collections:
  - name: "product_catalogue"
    label: "Product Catalogue"
    files:
      - label: "Products JSON"
        name: "products"
        file: "src/data/product.json" # path ke JSON kamu
        fields:
          - label: "Main Categories"
            name: ""
            widget: "list"
            summary: "{{fields.main_category.name_en}}"
            fields:
              - label: "Main Category"
                name: "main_category"
                widget: "object"
                fields:
                  - label: "ID"
                    name: "id"
                    widget: "string"
                  - label: "Name (EN)"
                    name: "name_en"
                    widget: "string"
                  - label: "Name (ID)"
                    name: "name_id"
                    widget: "string"

              - label: "Sub Categories"
                name: "sub_categories"
                widget: "list"
                collapsed: true
                summary: "{{fields.name_en}}"
                fields:
                  - label: "Sub ID"
                    name: "id"
                    widget: "string"
                  - label: "Sub Name (EN)"
                    name: "name_en"
                    widget: "string"
                  - label: "Sub Name (ID)"
                    name: "name_id"
                    widget: "string"

                  - label: "Products"
                    name: "products"
                    widget: "list"
                    collapsed: true
                    summary: "{{fields.name_en}}"
                    fields:
                      - label: "Product ID"
                        name: "id"
                        widget: "string"
                      - label: "Name (EN)"
                        name: "name_en"
                        widget: "string"
                      - label: "Name (ID)"
                        name: "name_id"
                        widget: "string"
                      - label: "Short (EN)"
                        name: "short_en"
                        widget: "string"
                      - label: "Short (ID)"
                        name: "short_id"
                        widget: "string"
                      - label: "Description (EN)"
                        name: "desc_en"
                        widget: "text"
                      - label: "Description (ID)"
                        name: "desc_id"
                        widget: "text"
                      - label: "Image"
                        name: "image"
                        widget: "image"
                        choose_url: true
                      - label: "Compatibility"
                        name: "compatibility"
                        widget: "list"
                        field:
                          label: "Protocol"
                          name: "protocol"
                          widget: "string"
