backend:
  name: github
  repo: dimas1221/compani-profile # Ganti sesuai repo kamu
  branch: main
  auth_type: oauth
  base_url: https://decap-oauth.vercel.app # Proxy OAuth dari Vercel
  auth_endpoint: auth
  client_id: Ov23lihVYXS9ZNZr3qaj

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

publish_mode: simple

collections:
  - name: "products"
    label: "Product Catalogue"
    label_singular: "Product Item"
    format: "json"
    extension: "json"
    delete: false
    editor:
      preview: false
    files:
      - file: "public/data/product.json"
        label: "Product Data"
        name: "product_json"
        fields:
          - label: "Main Categories"
            name: "main_categories"
            widget: "list"
            fields:
              - { label: "Main Category ID", name: "id", widget: "string" }
              - { label: "Name (EN)", name: "name_en", widget: "string" }
              - { label: "Name (ID)", name: "name_id", widget: "string" }
              - label: "Sub Categories"
                name: "sub_categories"
                widget: "list"
                fields:
                  - { label: "Sub Category ID", name: "id", widget: "string" }
                  - { label: "Name (EN)", name: "name_en", widget: "string" }
                  - { label: "Name (ID)", name: "name_id", widget: "string" }
                  - label: "Products"
                    name: "products"
                    widget: "list"
                    fields:
                      - { label: "ID", name: "id", widget: "string" }
                      - {
                          label: "Name (EN)",
                          name: "name_en",
                          widget: "string",
                        }
                      - {
                          label: "Name (ID)",
                          name: "name_id",
                          widget: "string",
                        }
                      - {
                          label: "Short (EN)",
                          name: "short_en",
                          widget: "text",
                        }
                      - {
                          label: "Short (ID)",
                          name: "short_id",
                          widget: "text",
                        }
                      - {
                          label: "Description (EN)",
                          name: "desc_en",
                          widget: "text",
                        }
                      - {
                          label: "Description (ID)",
                          name: "desc_id",
                          widget: "text",
                        }
                      - { label: "Image", name: "image", widget: "image" }
                      - label: "Compatibility"
                        name: "compatibility"
                        widget: "list"
                        default: []
